<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>User List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">

    <h1>Manage User</h1>
    <div class="search">
        <form th:action="@{/search}" method="get">
            <div class="search-input">
                <input name="value" placeholder="Giá trị cần tìm" class="form-control">
            </div>

            <input type="submit" value="Search" class="btn btn-success">
        </form>
    </div>

    <table class="table table-active">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
        <tr th:each="person : ${persons}">
            <td th:text="${person.id}"></td>
            <td th:text="${person.name}"></td>
            <td th:text="${person.age}"></td>
            <td th:text="${person.email}"></td>
            <td th:text="${person.phone}"></td>
            <td>
                <a th:href="@{/edit?id={id}(id=${person.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/delete?id={id}(id=${person.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>
    <a href="/add" class="btn btn-success">Add User</a>
</div>
</body>
</html>